@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

body{
    font-family: "Nunito Sans", 'monospace', 'sans-serif';
}


/* Hide scrollbar in all browsers */
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
